<div class="topBar">
  <h1>angular pathfinder</h1>

  <div class="filterRow">
    <button
      mat-stroked-button
      color="primary"
      id="clearWalls"
      (click)="emitClearWalls()"
    >
      Clear Walls
    </button>

    <button mat-stroked-button color="primary" (click)="emitRandomWalls()">
      Random maze
    </button>

    <button
      mat-stroked-button
      color="primary"
      id="clearPath"
      (click)="emitClearPath()"
    >
      Clear Path
    </button>

    <button
      mat-raised-button
      color="primary"
      id="btn"
      (click)="emitVisualise()"
    >
      Visualise
    </button>

    <mat-checkbox class="example-margin" (click)="emitTrace()"
      >Show trace</mat-checkbox
    >

    <mat-checkbox class="example-margin" (click)="emitDiagonal()">
      Allow diagonal</mat-checkbox
    >
  </div>

  <!-- <div class="algoDiv">
    <mat-form-field appearance="fill">
      <mat-label>Pick an algorithm</mat-label>
      <mat-select [(value)]="selectedAlgorithm">
        <mat-option></mat-option>
        <mat-option [value]="option" *ngFor="let option of algorithms">{{
          option
        }}</mat-option>
      </mat-select>
    </mat-form-field>   </div>

--></div>
