<h1>pathz finder</h1>

<mat-divider></mat-divider>

<div class="filterRow">
  <button
    mat-stroked-button
    color="primary"
    id="clearWalls"
    (click)="onClearWalls()"
  >
    Clear Walls
  </button>

  <button
    mat-stroked-button
    color="primary"
    id="clearPath"
    (click)="onClearPath()"
  >
    Clear Path
  </button>

  <mat-checkbox class="example-margin">Show trace</mat-checkbox>
  <mat-checkbox class="example-margin" (click)="emitDiagonal()">
    Allow diagonal</mat-checkbox
  >

  <button mat-raised-button color="primary" id="btn" (click)="emitVisualise()">
    Visualise
  </button>
</div>
