.gridCtn {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}

.cell {
  height: 25px;
  width: 25px;
  border: 1px solid var(--border-cell-color);
}

.endNode {
  animation-name: node-animation-end;
}

.visitedNode {
  background-color: var(--visited-node-color);
}

.pathNode {
  animation-name: node-animation-path;
}

.startNode {
  animation-name: node-animation-start;
}

.wallNode {
  animation-name: node-animation-wall;
}

.animNode {
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes node-animation-start {
  0% {
    transform: scale(0.3);
    border-radius: 50%;
    background-color: var(--start-node-color);
  }
  50% {
    transform: scale(1.2);
    border-radius: 20%;

    background-color: var(--start-node-color);
  }
  100% {
    transform: scale(1);
    border-radius: 0;
    background-color: var(--start-node-color);
  }
}

@keyframes node-animation-end {
  0% {
    transform: scale(0.3);
    border-radius: 50%;
    background-color: var(--end-node-color);
  }
  50% {
    transform: scale(1.2);
    border-radius: 20%;
    background-color: var(--end-node-color);
  }
  100% {
    transform: scale(1);
    border-radius: 0;
    background-color: var(--end-node-color);
  }
}

@keyframes node-animation-path {
  0% {
    transform: scale(0.3);
    border-radius: 50%;
    background-color: var(--path-color);
  }
  50% {
    transform: scale(1.2);
    border-radius: 20%;
    background-color: var(--path-color);
  }
  100% {
    transform: scale(1);
    border-radius: 0;
    background-color: var(--path-color);
  }
}

@keyframes node-animation-wall {
  0% {
    transform: scale(0.3);
    border-radius: 50%;
    background-color: var(--wall-node-color);
  }
  50% {
    transform: scale(1.2);
    border-radius: 20%;
    background-color: var(--wall-node-color);
  }
  100% {
    transform: scale(1);
    border-radius: 0;
    background-color: var(--wall-node-color);
  }
}
